body {
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

/*  ----------------------  header  ----------------------  */
.main-header {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    background-color: #f4f7f9;
}

/*  --  header-top  --  */
.header-top {
    background-color: #293449;
}

.header-top a.logo {    
    background-color: #ee3643;
/*    box-shadow: 0 0 0 5px rgb(181, 41, 51);*/
}

.header-top a.logo:hover {    
    background-color: #ca2c37;
/*    border-bottom: 5px solid #9a212a;*/
}

.header-top a.logo:active,
.header-top a.logo:focus {    
    background-color: #ba2732;
    border-bottom: 5px solid #8e1e26;
}

.header-top input {
    border: none;
    color: #fff;
    background-color: transparent;
}

.header-top a,
.header-top input[type = 'search'] {
    line-height: 18px;
    color: #fff;
} 

.header-top input[type = 'search']::placeholder {
    color: #fff;
} 

.header-top .search input[type = 'search']:active,
.header-top .search input[type = 'search']:focus {
    color: #000;
    background-color: #fff;
}

.header-top ul {
    list-style: none; 
}

.header-top .something-in.cart a {
    background-color: #ee3643;
} 

.header-top .search input:hover,
.header-top .bookmark a:hover, 
.header-top .cart a:hover {
    background-color: #212a3a;
}

.header-top .bookmark a:active, 
.header-top .cart a:active,
.header-top .bookmark a:focus, 
.header-top .cart a:focus {
    background-color: #161d29;
    opacity: 0.6;
}

.header-top .order a {
    background-color: #63a63e;
} 

.header-top .order a:hover {
    background-color: #5fbb2d;
} 

.header-top .order a:active,
.header-top .order a:focus {
    background-color: #518534;
    opacity: 0.5;
}

/*  -- header-middle  --  */
.header-middle .header-middle-description {    
    font-size: 16px;
    font-style: italic;    
    line-height: 23px;
    color: #ee3643;
}

.header-middle .contacts-phone a {    
    font-size: 21px;    
    line-height: 21px;
    color: #ee3643;
}

.header-middle .contacts-adress {    
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.user-navigation { 
    list-style: none; 
}

.user-navigation a {    
    font-size: 21px;    
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

.user-information a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #32425c;
}

.user-navigation a:hover,
.user-information a:hover {    
    color: #ee3643;
}

.user-navigation a:active,
.user-information a:active,
.user-navigation a:focus,
.user-information a:focus {
    color: #000;
    opacity: 0.3;
}

/*  -- header-bottom-navigation  --  */
.header-bottom-navigation {
    background-color: #32425c;
/*    border-bottom: 5px solid #293449;*/
}

.header-bottom-navigation ul { 
    list-style: none; 
}

.header-bottom-navigation a {    
    line-height: 17px;
    color: #fff;
}

.header-bottom-navigation a:hover {
    background-color: #293449;
}

.header-bottom-navigation a:active,
.header-bottom-navigation a:focus {
    background-color: #1d2739;
    opacity: 0.5;
}


/*  ----------------------  main  ----------------------  */

.navigation-block {
    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
}

.navigation-block a {
    font-size: 14px;
    line-height: 18px;    
    color: inherit;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);    
}

.navigation-block a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navigation-block a:active,
.navigation-block a:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.sliders a.button {
    background-color: rgba(238, 54, 67, 1);
}

.sliders a.button:hover {
    background-color: rgba(202, 44, 55, 1);
}

.sliders a.button:active,
.sliders a.button:focus {
    background-color: rgba(186, 39, 50, 1);
}

.sliders .sliders_item h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.sliders span {
    font-size: 18px;
    line-height: 24px;
}

.slider-indicators input[type = 'radio'] {
}

.slider-control button {
/*    background-color: transparent*/
    border: none;
}

.navigation-block .new {
    background-color: #f00;
}

.navigation-block h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.category-materials {
    background-color: #ffbf47;    
}

.category-tools {
    background-color: #3bbce3;  
    
}

.category-technic {
    background-color: #dc91d8;  
    
}

.category-discount {
    background-color: #8ed78f;  
    
}

.page-delivery {
    background-color: #ffbf47;  
    
}

.page-title {
    background-color: #f2f6f8;    
}

.top-sale-title,
.top-brand-title {
    background-color: #f9f5f0;
}

.page-title h1,
.top-sale-title h2,
.top-brand h2 {
    font-family: 'Cuprum', Arial, sans-serif; 
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.top-brand ul {
    list-style: none;
}

.top-brand .top-brand-item:hover {
    box-shadow: 10px 0 25px rgba(41, 52, 73, 0.5);
}

.top-brand .top-brand-item:active {
    box-shadow: 4px 0 10px rgba(41, 52, 73, 0.5);
}

.top-brand .top-brand-item:active a {
    opacity: 0.3;
}

.company-services {
    background-color: #f4f8f9;
}

.company-services h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.company-services h3 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.company-services .tabs button {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    background-color: #32425c;
    border: none;
    cursor: pointer;
}

.company-services .tabs button:hover {
    background-color: #293449;
}

.company-services .tabs button.current {
    color: #32425c;
    background-color: #fff;
}

.breadcrumbs {
    list-style: none;
}

.breadcrumbs a,
.breadcrumbs-current {
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}

.filters > div:first-child {
    background-color: #f7f3ec;
}

.filters h4 {
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.filters form > label,
.filters legend {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filters ul {
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.price_value {
    font-size: 16px;
    line-height: 18px;
    color: #444;
}

.price_value input {
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
}

.filters input[type = 'submit'] {
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.catalog-sort a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.catalog-sort button {
    opacity: 0.3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.catalog-sort a:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.catalog-sort button:hover {
/*    fill: #ee3643;*/
    opacity: 1;
}

.catalog-sort li.current a {
    color: rgba(255, 0, 0, 1);
    border-bottom: none;
}

.catalog-sort li.current button {
    opacity: 1;
}

.catalog-list {
    list-style: none;
}

.catalog-item {
    text-align: center;
    background-color: #fff;
    border: 1px solid #e5e5e5; 
}

.catalog-item:hover {
    border: 1px solid #fff;
    box-shadow: 10px 0 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-new {
    color: #fff;
    background-color: #ee3643;
}

.catalog-item .action a {
    font-family:     'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.catalog-item .action a:first-child {
    color: #fff;
    background-color: #63a63e;
    border-top: 3px solid #63a63e;
    border-bottom: 3px solid #367315;
}

.catalog-item .action a:first-child:hover {
    background-color: #5fbb2d;
    border-top: 3px solid #5fbb2d;
}

.catalog-item .action a:first-child:active,
.catalog-item .action a:first-child:focus {
    background-color: #518534;
    border-top: 3px solid #518534;
    border-bottom: 3px solid #518534;
}

.catalog-item .action a:last-child {
    color: #32425c;
    background-color: #fff;
    border: 3px solid #63a63e;
}

.catalog-item .action a:last-child:hover {
    border: 3px solid #32425c;
}

.catalog-item .action a:last-child:active,
.catalog-item .action a:last-child:focus {
    opacity: 0.3;
}

.catalog-item h3 a {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
}

.catalog-item-price del,
.catalog-item-price a {
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.catalog-item-price del {
    color: #999;
}

.catalog-item-price a {
    color: #fff;
    background-color: #ee3643;
}

.company-info h2,
.company-contacts h2,
.catalog-description h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.company-transports li {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;    
    line-height: 20px;
}

.company-info .button,
.company-contacts button,
.top-sale-title .button,
.top-brand-title .button {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #ee3643;
    border: none;
    text-transform: uppercase;
}

.company-info .button:hover,
.company-contacts button:hover,
.top-sale-title .button:hover,
.top-brand-title .button:hover {
    background-color: #ca2c37;
}

.company-info .button:active,
.company-contacts button:active,
.top-sale-title .button:active,
.top-brand-title .button:active,
.company-info .button:focus,
.company-contacts button:focus,
.top-sale-title .button:focus,
.top-brand-title .button:focus {
    background-color: #ba2732;
}

.catalog-description {
    background-color: #f2f6f8;
}

.pagination {
    list-style: none;
}

.pagination li a {
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #e5e5e5;
}

.pagination li a:hover {
    border: 1px solid #bdc6ca;
}

.pagination li a:active,
.pagination li a:focus {
    border: 1px solid #ee3643;
}

.pagination li a.current {
    color: #fff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

/*  ----------------------  footer  ----------------------  */
footer {
    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
    background-color: #32425c;
}

footer a.logo-footer{
    background-color: #ee3643;
    border-bottom: 5px solid #b52933;    
}

footer .footer-top {
    font-size: 18px;
    line-height: 24px;
}

footer ul {
    list-style: none;
}

footer .footer-navigation-first a {
    color: #fff;
}

footer .footer-navigation-second a {
    color: #ffd180;
}

footer .footer-navigation-first a:hover,
footer .footer-navigation-second a:hover {
    text-decoration: underline;
}

footer .footer-navigation-first a:active,
footer .footer-navigation-second a:active,
footer .footer-navigation-first a:focus,
footer .footer-navigation-second a:focus {
    opacity: 0.5;
}

footer .footer-bottom {
    font-size: 16px;    
    line-height: 18px;
    background-color: #293449;
}

footer .footer-social a {
    background-color: #212a3a;
}

footer .footer-social a:hover,
footer .footer-social a:active,
footer .footer-social a:focus {
    background-color: #ee3643;
}

footer .footer-bottom a {
    color: #ffd180;
}

footer .footer-bottom a:hover {
    text-decoration: underline;
}

footer .footer-bottom a:active,
footer .footer-bottom a:focus {
    text-decoration: none;
    color: #ee3643;
}

/* ----- Сеточные стили ----- */

html,
body {
    min-width: 1200px;
    min-height: 3151px;
}

body > *, body > * > *, body > * > * > *, body > * > * > * > *, body > * > * > * > * > * {
    /* Временно для сетки */
    position: relative;
    box-sizing: content-box;
}

body > *  {
    background-color: rgba(0, 255, 0, 0.2)!important;
    outline: 4px solid rgb(0, 155, 0);
}

body > ::before {
    /* Временно для сетки */
    position: absolute;
    padding: 2px 5px;
    color: white;
    background: green;
}

body > * > *  {
    background: rgba(234, 0, 0, 0.2);
    outline: 3px solid rgb(234, 0, 0);
}

body >* > ::before {
    /* Временно для сетки */
    position: absolute;
    padding: 2px 5px;
    color: white;
    background: red;
}

body > * > * > * {
    background: rgba(234, 255, 45, 0.2);
    outline: 2px solid rgb(234, 255, 45);
}

body >* > * > ::before {
    /* Временно для сетки */
    position: absolute;
    padding: 2px 5px;
    color: black;
    background: yellow;
}

body > * > * > * > *  {
    background: rgba(128, 0, 128, 0.2);
    outline: 1px solid purple;
}

body >* > * > * > ::before {
    /* Временно для сетки */
    position: absolute;
    right: 0;
    padding: 2px 5px;
    color: white;
    background: purple;
    opacity: 0.5;
}

body {
    /* Временно для сетки */
    background-image: url('../img/technomart-index-grid.jpg'); 
    background-position: center top;
    background-size: 1200px auto;   
    background-repeat: no-repeat;
}

body.page-catalog {
    /* Временно для сетки */
    background-image: url('../img/technomart-catalog-grid.jpg'); 
}


.container {
  width: 940px;
  margin: 0 auto;
}

.main-header {    
    min-height: 320px;
}

.main-header::before {
    /* Временно для сетки */
    content: 'main-header';
    top: auto;
    bottom: 0;
}

.header-top {
    /* Временно для сетки */    
    background-color: transparent;
}

.header-top .container {
    display: flex;
}

.logo {
    width: 220px;
    height: 42px;
    display: block;
    background-color: transparent!important;
}

.logo::before {
    /* Временно для сетки */
    content: 'logo';
    top: 0;
}

.search {
    width: 270px;
    height: 42px;
}

.search::before {
    /* Временно для сетки */
    content: 'search';
    top: 0;
}

.bookmark {
    width: 150px;
    height: 42px;
    /* Временно для сетки */
}

.bookmark::before {
    /* Временно для сетки */
    content: 'bookmark';
    top: 0;
}

.cart {
    width: 150px;
    height: 42px;
}

.cart::before {
    /* Временно для сетки */
    content: 'cart';
    top: 0;
}

.order {
    width: 150px;
    height: 42px;
}

.order::before {
    /* Временно для сетки */
    content: 'order';
    top: 0;
}

.header-middle {
    min-height: 158px;
}

.header-middle .container {
    display: flex;
}

.header-middle-description {
    margin: 0;
    padding: 0;
    width: 300px; 
    min-height: 158px;
}

.header-middle-description::before {
    /* Временно для сетки */
    content: 'header-middle-description';
    top: 0;
}

.header-middle-contacts {
    width: 340px;
}

.header-middle-contacts::before {
    /* Временно для сетки */
    content: 'header-middle-contacts';
    top: 0;
}

.user-navigation {
    margin: 0;
    padding: 0;
    width: 300px;
}

.user-navigation::before {
    /* Временно для сетки */
    content: 'user-navigation';
    top: 0;
}

.header-bottom-navigation {
    /* Временно для сетки */
    background-color: transparent;
}

.site-navigation {
    min-height: 60px;
    margin: 0;
    padding: 0;
}

.site-navigation::before {
    /* Временно для сетки */
    content: 'site-navigation';
    top: 0;
}

main {    
    min-height: 2386px;
}

main::before {
    /* Временно для сетки */
    content: 'main';
    top: auto;
    bottom: 0;
}

.navigation-block {
    margin-top: 59px;    
    min-height: 462px;  
}

.navigation-block::before {
    /* Временно для сетки */
    content: 'navigation-block';
    top: auto;
    bottom: 0;
}

.top-sale {
    min-height: 448px;    
}

.top-sale::before {
    /* Временно для сетки */
    content: 'top-sale';
    top: auto;
    bottom: 0;
}

.top-brand {
    min-height: 504px;  
}

.top-brand::before {
    /* Временно для сетки */
    content: 'top-brand';
    top: auto;
    bottom: 0;
}

.company-services {
    min-height: 522px;  
    background-color: transparent;
}

.company-services::before {
    /* Временно для сетки */
    content: 'company-services';
    top: auto;
    bottom: 0;
}

.index-columns {
    display: flex;
    padding: 82px 0 0;   
}

.index-columns::before {
    position: absolute;
    top: 0;
    content: 'index-columns';
    color: white;
}

.company-info {
    min-height: 368px;
    width: 640px;
    margin: 0;
    padding: 0;
}

.company-info::before {
    position: absolute;
    content: 'company-info';
    top: 0;
}

.company-contacts {
    min-height: 368px;
    width: 300px;
    margin: 0;
    padding: 0;
}

.company-contacts::before {
    content: 'company-contacts';
    top: 0;
}

main.page-inner {    
    min-height: 1631px;
}

.page-inner .breadcrumbs {
    margin: 0;
    padding: 0;
    min-height: 59px;
}

.page-inner .breadcrumbs::before {
    content: 'breadcrumbs';
}

.page-inner .page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    min-height: 89px;
    background-color: transparent;
}

.page-inner .page-title::before {
    content: 'page-title';
}

.page-inner .index-columns {
    margin: 0;
    padding: 0;
    margin-bottom: 60px;
    min-height: 1142px;
    background-color: transparent;
}

.page-inner .index-columns::before {
    content: 'index-columns';
}

.page-inner .container-left {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    min-height: 746px;
    width: 220px;
    background-color: transparent;
}

.page-inner .container-left::before {
    content: 'container-left';
}

.page-inner .container-right {
    margin: 0;
    padding: 0;
    min-height: 746px;
    width: 700px;
    background-color: transparent;
}

.page-inner .container-right::before {
    content: 'container-right';
}

.page-inner .catalog-description {
    margin: 0;
    padding: 0;
    min-height: 261px;
    background-color: transparent;
}

.page-inner .catalog-description::before {
    content: 'catalog-description';
}

.page-inner + .main-footer {
    margin-top: 0;
}

.main-footer {
    margin-top: 86px;
    min-height: 300px;
}

.main-footer::before {
    /* Временно для сетки */
    content: 'main-footer';
    top: auto;
    bottom: 0;
}

.footer-top {
    display: flex;
    min-height: 193px;  
}

.footer-top::before {
    position: absolute;
    top: 0;
    content: 'footer-top';
    color: white;
}

.footer-top > div {
    min-height: 193px;
    width: 380px;
    margin: 0;
    padding: 0;
}

.footer-top > div::before {
    position: absolute;
    content: 'footer-top > div';
    color: #000;
    top: 0;
}

.footer-navigation {
    min-height: 193px;
    width: 560px;
    margin: 0;
    padding: 0;
}

.footer-navigation::before {
    position: absolute;
    content: 'footer-navigation';
    color: #000;
    top: 0;
}

footer .footer-bottom {
    display: flex;
    min-height: 107px; 
    background-color: transparent; 
}

.footer-bottom::before {
    position: absolute;
    top: 0;
    content: 'footer-bottom';
    color: white;
}

.footer-bottom .copy {
    margin: 0;
    padding: 0;
    margin-right: 160px;
    min-height: 107px;
    width: 230px;
}

.footer-bottom .copy::before {
    position: absolute;
    content: 'copy';
    color: #000;
    top: 0;
}

.footer-bottom .footer-social {
    margin: 0;
    padding: 0;
    min-height: 107px;
    width: 132px;
}

.footer-bottom .footer-social::before {
    position: absolute;
    content: 'footer-social';
    color: #000;
    top: 0;
}

.footer-bottom .footer-callback {
    margin: 0;
    padding: 0;
    margin-left: auto;
    min-height: 107px;
    width: 188px;
}

.footer-bottom .footer-callback::before {
    position: absolute;
    content: 'footer-callback';
    color: #000;
    top: 0;
}

.footer-bottom .footer-copyright {
    margin: 0;
    padding: 0;
    min-height: 107px;
    width: 111px;
}

.footer-bottom .footer-copyright::before {
    position: absolute;
    content: 'footer-copyright';
    color: #000;
    top: 0;
}





























