html {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}

body {
    padding: 0;
    min-width: 960px;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.button {
    display: inline-block;
    padding: 10px 0;
    min-width: 135px;
    text-align: center;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #ee3643;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;

}

.button:hover {
    background-color: #ca2c37;
}

.button:active,
.button:focus {
    background-color: #ba2732;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.modal {
    display: none;
}

.modal.show {
    display: block;
    animation: animation 1s;
}

.modal.error {
  animation: shake 0.1s;
  animation-iteration-count: 5;
}

@keyframes animation {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  35% {
    transform: translateX(-10px);
  }
  70% {
    transform: translateX(10px);
  }
}

/*  ----------------------  header  ----------------------  */
.main-header {
    padding-bottom: 65px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    background-color: #f4f7f9;
}

/*  --  header-top  --  */
.header-top {
    background-color: #293449;
}

.header-top .container {
    display: flex;
}

.header-top a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 9px 0;
    width: 150px;
    color: #fff;
}

.header-top a.logo {
    width: 220px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.header-top a.logo:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.header-top a.logo:active,
.header-top a.logo:focus {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.header-top input {
    border: none;
    color: #fff;
    background-color: transparent;
}

.header-top .search {
    position: relative;
}

.header-top input[type = 'search'] {
    margin: 0;
    padding: 12px 5px 12px 48px;
    width: 270px;
    line-height: 18px;
    color: #fff;
}

.header-top input[type = 'search']::placeholder {
    color: #fff;
}

.header-top .search input[type = 'search']:active,
.header-top .search input[type = 'search']:focus {
    color: #000;
    background-color: #fff;
}

.header-top .search label {
    content: '';
    position: absolute;
    top: 12px;
    left: 17px;
    width: 17px;
    height: 17px;
    opacity: 0.3;
}

.header-top .search:hover label ,
.header-top .search input[type = 'search']:focus + label {
    opacity: 1;
}

.header-top .search input[type = 'search'] + label svg path {
    fill: #fff;
}

.header-top .search input[type = 'search']:focus + label svg path {
    fill:  #f00;
}

.header-top .bookmark,
.header-top .cart {
    position: relative;
    padding-left: 18px;
}

.header-top .bookmark::after,
.header-top .cart::after {
    content: '';
    position: absolute;
    top: 12px;
    left: 17px;
    width: 14px;
    height: 16px;
    background-image: url('../img/icon-bookmark.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
    opacity: 0.3;
}

.header-top .cart::after {
    width: 15px;
    height: 15px;
    background-image: url('../img/icon-cart.svg');
}

.header-top .bookmark:hover:after,
.header-top .cart:hover:after {
    opacity: 1;
}

.header-top .bookmark:focus:after,
.header-top .cart:focus:after,
.header-top .bookmark:active:after,
.header-top .cart:active:after {
    opacity: 0.5;
}

.header-top .something-in.cart {
    background-color: #ee3643;
}

.header-top .search input:hover,
.header-top .bookmark:hover,
.header-top .cart:hover {
    background-color: #212a3a;
}

.header-top .bookmark:active,
.header-top .cart:active,
.header-top .bookmark:focus,
.header-top .cart:focus {
    background-color: #161d29;
    color: rgba(255, 255, 255, 0.6);
}

.header-top .order {
    background-color: #63a63e;
}

.header-top .order:hover {
    background-color: #5fbb2d;
}

.header-top .order:active,
.header-top .order:focus {
    background-color: #518534;
    color: rgba(255, 255, 255, 0.5);
}

/*  -- header-middle  --  */
.header-middle {
    display: flex;
    margin-top: 46px;
    margin-bottom: 39px;
}

.header-middle .header-middle-description {
    margin: 3px 67px 0 52px;
}

.header-middle .header-middle-description p {
    margin: 0;
    padding: 0;
    width: 200px;
    font-size: 16px;
    font-style: italic;
    line-height: 23px;
    color: #ee3643;
}

.header-middle .header-middle-contacts {
    margin-right: auto;
}

.header-middle .contacts-phone {
    position: relative;
    padding: 10px 0 6px 72px;
    width: 270px;
    border: 3px solid #fff;
}

.header-middle .contacts-phone::after {
    content: '';
    position: absolute;
    top: 10px;
    left: 12px;
    width: 19px;
    height: 19px;
    background-image: url('../img/icon-phone.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.header-middle .contacts-phone a {
    font-size: 21px;
    line-height: 21px;
    letter-spacing: 0.1px;
    color: #ee3643;
}

.header-middle .contacts-adress {
    margin-top: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.header-middle .contacts-adress p {
    margin: 0;
    padding: 0;
}

.user-navigation {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.user-navigation a {
    padding: 12px 25px;
    font-size: 21px;
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

.user-navigation li {
    margin-top: 12px;
}

.user-navigation .login-link {
    position: relative;
}

.user-navigation .login-link a {
    padding-left: 47px;
}

.user-navigation .login-link svg {
    content: '';
    position: absolute;
    top: 2px;
    left: 14px;
    width: 20px;
    height: 17px;
}

.user-navigation li.registration {
    margin-left: 9px;
}

.user-navigation .login {
    position: relative;
}

.user-navigation .login a {
    padding: 12px 27px 12px 47px;
}

.user-navigation .login svg {
    content: '';
    position: absolute;
    top: 2px;
    left: 14px;
    width: 20px;
    height: 18px;
}

.user-navigation .logout a {
    padding: 12px 10px;
}

.user-navigation a svg polygon,
.user-navigation a svg path {
    fill: #c5c5c5;
}

.user-navigation a:hover svg polygon,
.user-navigation a:hover svg path {
    fill: #32425c;
}

.user-information {
    position: relative;
    margin: 13px 18px 0;
}

.user-information a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #32425c;
}

.user-information a:last-child{
    margin-left: 28px;
}

.user-navigation a:hover,
.user-information a:hover {
    color: #ee3643;
}

.user-navigation a:active,
.user-information a:active,
.user-navigation a:focus,
.user-information a:focus {
    color: #000;
    opacity: 0.3;
}

.user-information::before {
    content: '';
    position: absolute;
    top: 10px;
    left: 90px;
    width: 4px;
    height: 4px;
    background-color: #32425c;
    border-radius: 50%;
}

/*  -- header-bottom-navigation  --  */
.header-bottom-navigation {
}

.header-bottom-navigation ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 18px;
    list-style: none;
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.header-bottom-navigation a {
    display: block;
    padding: 19px 31px;
    line-height: 17px;
    color: #fff;
}

.header-bottom-navigation a:hover {
    background-color: #293449;
}

.header-bottom-navigation a:active {
    background-color: #1d2739;
    box-shadow: 0 5px 0 0 #1d2739;
}

.header-bottom-navigation li a:active,
.header-bottom-navigation li a:focus {
    color: rgba(255, 255, 255, 0.5);
}


/*  ----------------------  main  ----------------------  */

.promo-block {
    margin-top: 59px;
    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
}

.promo-block .promo-button {
    margin-top: 12px;
    margin-left: 2px;
    background-color: rgba(0, 0, 0, 0.1);
}

.promo-block .promo-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.promo-block .promo-button:active,
.promo-block .promo-button:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.promo-block .new {
    background-color: #f00;
}

.promo-block h2 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.promo-block-head {
    display: flex;
    justify-content: space-between;
}

.promo-block-head div {
    position: relative;
    padding-left: 22px;
    width: 300px;
    height: 123px;
}

.promo-block-head .new {
    position: absolute;
    padding: 2px 4px;
    top: 6px;
    right: 6px;
    color: #fff;
    background-color: #ee3643;
    transform: rotate(45deg);
    z-index: 100;
}

.promo-block-head .new::before {
    content: '';
    border-top: 28px solid transparent;
    border-right: 28px solid #ee3643;
    position: absolute;
    right: 27px;
    top: 0px;
}

.promo-block-head .new::after {
    content: '';
    border-top: 28px solid transparent;
    border-left: 28px solid #ee3643;
    position: absolute;
    right: -27px;
    top: 0px;
}

.promo-block-head h2 {
    margin-top: 21px;
}

.promo-block-head .category-materials::after,
.promo-block-head .category-tools::after,
.promo-block-head .category-technic::after,
.promo-block-foot .category-discount::after,
.promo-block-foot .page-delivery::after {
    content: '';
    position: absolute;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.promo-block-head .category-materials::after {
    top: 31px;
    right: 43px;
    width: 44px;
    height: 65px;
    background-image: url("../img/icon-1.svg");
}

.promo-block-head .category-tools::after {
    top: 33px;
    right: 28px;
    width: 75px;
    height: 61px;
    background-image: url("../img/icon-2.svg");
}

.promo-block-head .category-technic::after {
    top: 31px;
    right: 31px;
    width: 78px;
    height: 62px;
    background-image: url("../img/icon-3.svg");
}

.promo-block-foot {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.sliders {
    position: relative;
    background-color: #bfbfbf;
}

.sliders .slider-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

.sliders .slider-item {
    position: relative;
    display: none;
    padding: 0;
    width: 620px;
    height: 266px;
}

.slider-item .slider-title {
    position: absolute;
    top: 24px;
    left: 25px;
}

.slider-title h3 {
    margin: 0;
    padding: 0;
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;
}

.slider-title p {
    margin: 0;
    padding: 0;
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
}

.slider-item-button {
    position: absolute;
    bottom: 21px;
    left: 25px;
    margin: 0;
    padding: 0;
    padding: 10px 48px;
}

#product-1:checked ~ .slider-list #slide1,
#product-2:checked ~ .slider-list #slide2,
#product-3:checked ~ .slider-list #slide3 {
    display: block;
}

.slider-indicators {
    position: absolute;
    left: 50%;
    bottom: 34px;
    width: 160px;
    height: 18px;
    font-size: 0;
    text-align: center;
    transform: translateX(-50%);
    z-index: 100;
}

.slider-indicators i {
    display: inline-block;
    position: relative;
    margin-right: 2px;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
}

.slider-indicators i::after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    background: #ffffff;
    border-radius: 50%;
    z-index: 1;
}

#product-1:checked ~ .slider-indicators label[for="product-1"] i::before,
#product-2:checked ~ .slider-indicators label[for="product-2"] i::before,
#product-3:checked ~ .slider-indicators label[for="product-3"] i::before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    width: 6px;
    height: 6px;
    margin: -2px;
    background-color: #ee3643;
    border-radius: 50%;
}

.slider-control .prev::after {
    position: absolute;
    content: '';
    top: 114px;
    left: 25px;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-left.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.slider-control .next::after {
    position: absolute;
    content: '';
    top: 114px;
    right: 20px;
    width: 22px;
    height: 40px;
    background-image: url("../img/icon-right.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    cursor: pointer;
}

.slider-control .prev:hover:after,
.slider-control .next:hover:after {
    opacity: 0.5;
}

.promo-block-foot .right div {
    position: relative;
    width: 300px;
    height: 123px;
    padding-top: 21px;
    padding-left: 21px;
}

.promo-block-foot .category-discount {
    margin-bottom: 20px;
}

.promo-block-foot .category-discount::after {
    top: 26px;
    right: 45px;
    width: 59px;
    height: 72px;
    background-image: url("../img/icon-4.svg");
}

.promo-block-foot .page-delivery::after {
    top: 32px;
    right: 31px;
    width: 78px;
    height: 63px;
    background-image: url("../img/icon-5.svg");
}

.promo-block-foot .category-discount a {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 23px;
    border-radius: 3px;
}

.promo-block-foot .page-delivery a {
    display: inline-block;
    margin-top: 12px;
    padding: 10px 38px;
    border-radius: 3px;
}

.top-sale {
    margin-top: 53px;
}

.category-materials {
    background-color: #ffbf47;
}

.category-tools {
    background-color: #3bbce3;

}

.category-technic {
    background-color: #dc91d8;

}

.category-discount {
    background-color: #8ed78f;

}

.page-delivery {
    background-color: #ffbf47;

}

.top-sale-title,
.top-brand-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 24px 25px 28px;
    background-color: #f9f5f0;
}

.top-sale-title .button,
.top-brand-title .button {
    width: 253px;
}

.page-title h1,
.top-sale-title h2,
.top-brand h2 {
    margin: 0;
    padding: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.top-brand .top-brand-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 0;
    padding: 0;
    list-style: none;
}

.top-brand-list .top-brand-item {
    margin-bottom: 20px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e5e5e5;
}

.top-brand-item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 218px;
    height: 143px;
}

.top-brand .top-brand-item:hover {
    box-shadow: 10px 0 25px rgba(41, 52, 73, 0.5);
}

.top-brand .top-brand-item:active {
    box-shadow: 4px 0 10px rgba(41, 52, 73, 0.5);
}

.top-brand .top-brand-item:active a {
    opacity: 0.3;
}

.company-services {
    margin-top: 66px;
    background-color: #f4f8f9;
}

.company-services h2,
.company-services h3 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
}

.company-services h2 {
    margin: 0;
    padding: 65px 0 13px;
    font-size: 30px;
    line-height: 30px;
}

.company-services h2 + p {
    width: 400px;
}

.company-services h3 {
    font-size: 36px;
    line-height: 36px;
    color: #32425c;
}

.company-services .tab-list {
    position: relative;
    padding: 0;
    margin: 55px 0;
    list-style: none;
}

.company-services .tab-list::after {
    content: '';
    position: absolute;
    top: -42px;
    right: 0;
    width: 10px;
    height: 279px;
    background-image: url("../img/tab-shadow.png");
    background-repeat: no-repeat;
    background-position: right top;
}

.company-services .tab-list label {
    display: block;
    padding: 16px 22px;
    width: 240px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
    color: #fff;
    background-color: #32425c;
    border: none;
    cursor: pointer;
}

.company-services .tab-list label:hover {
    background-color: #293449;
}

.index-columns #tab-delivery:checked ~ .tab-list label[for = 'tab-delivery'],
.index-columns #tab-guarantee:checked ~ .tab-list label[for = 'tab-guarantee'],
.index-columns #tab-credit:checked ~ .tab-list label[for = 'tab-credit'] {
    color: #32425c;
    background-color: #fff;
}

.company-services .tab-view {
    position: relative;
    flex-grow: 1;
    margin: 18px 18px 0 80px;
    min-height: 322px;
}

.company-services .tab-view > div {
    display: none;
}

.index-columns #tab-delivery:checked ~ .tab-view .tab-view-delivery,
.index-columns #tab-guarantee:checked ~ .tab-view .tab-view-guarantee,
.index-columns #tab-credit:checked ~ .tab-view .tab-view-credit {
    display: block;
}

.tab-view .tab-view-delivery {
    width: 275px;
}
.tab-view .tab-view-guarantee {
    width: 375px;
}
.tab-view .tab-view-credit {
    width: 285px;
}

.company-services .tab-view h3 {
    margin-bottom: 25px;
}

.tab-view .tab-view-delivery img {
    position: absolute;
    top: 61px;
    right: -17px;
}

.tab-view .tab-view-guarantee img {
    position: absolute;
    top: 39px;
    right: -27px;
}

.tab-view .tab-view-credit img {
    position: absolute;
    top: 37px;
    right: -28px;
}

.breadcrumbs {
    position: relative;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 59px;
    list-style: none;
}

.breadcrumbs li:not(:first-of-type) {
    position: relative;
    margin-left: 41px;
}

.breadcrumbs li:not(:first-of-type):before {
    content: '';
    position: absolute;
    top: 5px;
    left: -26px;
    width: 8px;
    height: 12px;
    background-image: url('../img/icon-right-small.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.breadcrumbs a,
.breadcrumbs-current span {
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}

.page-title {
    margin-bottom: 20px;
    padding: 30px 28px 29px;
    background-color: #f2f6f8;
}

.page-title h1 {
    margin: 0;
    padding: 0;
}

form .price-range {
    position: relative;
    margin-bottom: 9px;
    padding: 39px 20px 0 20px;
    height: 80px;
    background-color: #f7f3ec;
}

.price-range .scale {
    height: 2px;
    background: #d7dcde;
}

.price-range .bar {
    width: 84%;
    height: 2px;
    background: #00ca74;
}

.price-value {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    color: #444;
}

.price-value::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -5px;
    height: 1px;
    width: 10px;
    background-color: #444;
}

.price-value input {
    width: 95px;
    height: 38px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
}

.price-range .toggle {
    position: absolute;
    top: 30px;
    width: 20px;
    height: 20px;
    background-color: #ababab;
    border: 8px solid #FFF;
    border-radius: 50%;
    box-shadow: 0 2px 0 0 #e0ddd8;
    cursor: pointer;
}

.price-range .toggle-max {
    right: 40px;
}

.page-inner .container-left {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    width: 220px;
}

.filters > div:first-child {
    background-color: #f7f3ec;
}

.filters h4 {
    margin: 0;
    margin-bottom: 11px;
    padding: 10px 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.filters fieldset {
    margin: 0;
    margin-bottom: 16px;
    padding: 0;
    padding-bottom: 26px;
    border: none;
    border-bottom: 1px solid #e5e5e5;
}

.filters fieldset:nth-of-type(2) {
    padding-bottom: 23px;
}

.filters fieldset:last-of-type {
    border: none;
}

.filters legend {
    margin-bottom: 14px;
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filters ul li {
    margin-bottom: 20px;
    padding-left: 35px;
}

.filters ul li:last-child {
    margin-bottom: 0;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    user-select: none;
}

.filter-input-checkbox + label svg {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 24px;
  height: 24px;
}

.filter-input-checkbox + label svg *:not(:last-child),
.filter-input-checkbox:checked + label svg *:last-child {
    opacity: 0;
}

.filter-input-checkbox:checked + label svg *:not(:last-child) {
    opacity: 1;
}

.filter-input-radio + label svg {
  content: "";
  position: absolute;
  left: -35px;
  top: -2px;
  width: 25px;
  height: 25px;
}

.filter-input-radio + label svg *:last-child {
    opacity: 0;
}

.filter-input-radio:checked + label svg *:last-child {
    opacity: 1;
}

.filter-option polygon,
.filter-option path,
.filter-option circle  {
    fill: #c5c5c5;
}

.filter-option:hover polygon,
.filter-option:hover path,
.filter-option:hover circle  {
    fill: #b5b5b5;
}

.filter-option input:disabled + label svg *:not(:last-child) {
    opacity: 0;
}

.filter-option input:disabled + label polygon,
.filter-option input:disabled + label path,
.filter-option input:disabled + label circle {
    opacity: 0.3;
}

.filters input[type = 'submit'] {
    margin-top: 36px;
    width: 140px;
    height: 38px;
    font-family: 'PT Sans', Arial, sans-serif;;
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.container-right {
    margin: 0;
    padding: 0;
    width: 700px;
}

.sorts {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #f7f3ec;
}

.sorts h4 {
    margin: 0;
    padding: 10px 18px;
    font-weight: 400;
}

.sorts .catalog-sort {
    display: flex;
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sorts .catalog-sort.one {
    padding-left: 122px;
}

.sorts .catalog-sort.dir {
    margin-top: 5px;
    margin-left: 23px;
    padding: 0;
}

.sorts .catalog-sort li:last-child {
    margin-right: 0;
}

.catalog-sort a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.catalog-sort a:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.catalog-sort .sort-price {
    margin-right: 71px;
}

.catalog-sort .sort-type {
    margin-right: 64px;
}

.catalog-sort .sort-dir {
    position: relative;
    width: 24px;
    height: 24px;
}

.catalog-sort .sort-up-dir {
    margin-right: 8px;
    margin-left: 8px;
}

.catalog-sort .sort-up-dir a,
.catalog-sort .sort-down-dir a {
    display: inline-block;
    position: absolute;
    width: 24px;
    height: 24px;
    border-bottom: none;
}

.catalog-sort .sort-up-dir a::before,
.catalog-sort .sort-down-dir a::before {
    content: '';
    position: absolute;
    top: -3px;
    left: 6px;
    width: 0;
    height: 0px;
    border: 6px solid transparent;
    border-bottom: 11px solid #ee3643;
}

.catalog-sort .sort-down-dir a::before {
    top: 3px;
    border: 6px solid transparent;
    border-top: 11px solid #000;
}

.catalog-sort .sort-dir a {
    opacity: 0.3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.catalog-sort .sort-dir a.current {
    opacity: 1;
}

.catalog-sort a:hover {
    opacity: 1;
}

.catalog-sort li.current a {
    color: rgba(255, 0, 0, 1);
    border-bottom: none;
}

.catalog-sort li.current button {
    opacity: 1;
}

.catalog-list {
    margin: 0;
    margin-top: 20px;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
}



.catalog-item h3,
.catalog-item p {
    margin: 0;
    padding: 0;
}

.catalog-item {
    position: relative;
    margin-bottom: 20px;
    width: 220px;
    height: 318px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    overflow: hidden;
}

.catalog-item:nth-child(3n) {
/*    margin-right: 0;*/
}

.catalog-item:hover {
    border: 1px solid #fff;
    box-shadow: 10px 0 25px rgba(41, 52, 73, 0.5);
}

.catalog-item-new {
    position: absolute;
    padding: 2px 4px;
    top: 5px;
    right: 4px;
    color: #fff;
    background-color: #ee3643;
    transform: rotate(45deg);
    z-index: 100;
}

.catalog-item-new::before {
    content: '';
/*
    border-top: 28px solid transparent;
    border-right: 28px solid #ee3643;
*/
    position: absolute;
    right: 10px;
    top: 8px;
    border: 20px solid transparent;
    border-left-color: #ee3643;
    transform: rotate(45deg);
}

.catalog-item-new::after {
    content: '';
/*
    border-top: 28px solid transparent;
    border-left: 28px solid #ee3643;
*/
    position: absolute;
    left: 10px;
    top: 8px;
    border: 20px solid transparent;
    border-left-color: #ee3643;
    transform: rotate(135deg);
}

.catalog-item .action {
    display: none;
    position: absolute;
    top: 20px;
    left: 50%;
    padding: 23px;
    margin-left: -90px;
    background-color: #fff;
}

.catalog-item:hover .action {
    display: block;
}

.catalog-item .action a {
    position: relative;
    display: block;
    padding: 6px 0;
    width: 135px;
    font-family:     'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.catalog-item .action a::before {
    content: '';
    position: absolute;
    top: 8px;
    left: 13px;
    width: 15px;
    height: 15px;
    background-image: url('../img/icon-cart.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.catalog-item .action a:first-child {
    margin-bottom: 8px;
    color: #fff;
    background-color: #63a63e;
    border-top: 3px solid #63a63e;
    border-bottom: 3px solid #367315;
}

.catalog-item .action a:first-child:hover {
    background-color: #5fbb2d;
    border-top: 3px solid #5fbb2d;
}

.catalog-item .action a:first-child:active,
.catalog-item .action a:first-child:focus {
    background-color: #518534;
    border-top: 3px solid #518534;
    border-bottom: 3px solid #518534;
}

.catalog-item .action a:last-child {
    color: #32425c;
    background-color: #fff;
    border: 3px solid #63a63e;
}

.catalog-item .action a:last-child:hover {
    border: 3px solid #32425c;
}

.catalog-item .action a:last-child:active,
.catalog-item .action a:last-child:focus {
    opacity: 0.3;
}

.catalog-item h3 a {
    display: block;
    min-height: 40px;
    padding: 0 25px;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000;

}

.catalog-item-price del,
.catalog-item-price a {
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.catalog-item-price del {
    display: block;
    min-height: 20px;
    margin-top: 12px;
    margin-bottom: 7px;
    color: #999;
}

.catalog-item-price a {
    display: block;
    position: relative;
    width: 80px;
    margin: 7px auto;
    margin-bottom: 20px;
    padding: 12px 0 10px 4px;
    font-family: 'PT Sans', Arial, sans-serif;
    color: #fff;
    background-color: #ee3643;
}

.catalog-item-price a::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: -27px;
    width: 0;
    height: 0;
    border: 20px solid white;
    border-left-color: white;
    border-left-color: #ee3643;

}

.catalog-item-price a:hover:after {
    border-left-color: #ca2c37;

}

.catalog-item-price a:focus:after,
.catalog-item-price a:active:after {
    border-left-color: #ba2732;

}

.index-columns {
    position: relative;
    display: flex;
    justify-content: space-between;
}

.index-columns .company-info,
.index-columns .company-contacts {
    margin-top: 54px;
    margin-bottom: 85px;
}

.index-columns .company-info p,
.index-columns .company-contacts p {
    margin: 0;
    padding: 0;
}

.index-columns .company-info p {
    letter-spacing: 0.12px
}

.index-columns .company-info p {
    margin-top: 25px;
}

.index-columns .company-info p:last-of-type {
    padding-right: 130px;
}

.index-columns .company-info {
    width: 525px;
}

.index-columns .company-contacts {
    width: 300px;
}

.index-columns .company-contacts p {
    margin-top: 26px;
    padding-right: 110px;
}

.index-columns .company-contacts  img{
    margin-top: 32px;
}

.company-info h2,
.company-contacts h2,
.catalog-description h2 {
    margin-bottom: 0;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.company-transports {
    margin: 19px 0 0 36px;
    padding: 0;
    list-style: none;
}

.company-transports li {
    position: relative;
    margin-top: 20px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 20px;
}

.company-transports li::before {
    content: '';
    position: absolute;
    top: 10px;
    left: -36px;
    width: 25px;
    height: 2px;
    background-color: #ee3643;
}

.company-info .button {
    margin: 38px 0 0 0;
    width: 220px;
}

.company-contacts .button{
    margin-top: 32px;
    padding-left: 5px;
    width: 100%;
}

.catalog-description {
    padding: 65px 0 68px;
    background-color: #f2f6f8;
}

.catalog-description h2,
.catalog-description p {
    margin: 0;
    padding: 0;
}

.catalog-description p:first-of-type {
    letter-spacing: 0.07px;
}

.catalog-description p:last-of-type {
    letter-spacing: 0.17px;
}

.catalog-description h2{
    margin-bottom: 26px;
    letter-spacing: 0.17px;
}

.pagination {
    display: flex;
    margin: 40px 0 66px;
    padding: 0;
    list-style: none;
}

.pagination li {
    margin-right: 9px;
}

.pagination li a {
    padding: 10px 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.pagination li:last-child a {
    padding: 10px 31px;
}

.pagination li a:hover {
    border: 1px solid #bdc6ca;
}

.pagination li a:active,
.pagination li a:focus {
    border: 1px solid #ee3643;
}

.pagination li a.current {
    color: #fff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

/*  ----------------------  footer  ----------------------  */
footer {
    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
    background-color: #32425c;
}

footer .footer-top {
    display: flex;
    font-size: 18px;
    line-height: 24px;
}

footer .footer-top > div {
    width: 330px;
}

footer .footer-top p {
    margin: 32px 0 0 3px;
}

footer a.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 63px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

footer a.logo-footer:hover {
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

footer a.logo-footer:active,
footer a.logo-footer:focus {
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

footer .footer-navigation-first a {
    color: #fff;
}

footer .footer-navigation {
    flex-grow: 1;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 38px;
    padding: 0;
    list-style: none;
}

footer .footer-navigation-second {
    margin-top: 34px;
}

footer .footer-navigation-first a,
footer .footer-navigation-second a {
    padding: 20px 30px;
}

footer .footer-navigation-first li:last-child a,
footer .footer-navigation-second li:last-child a {
    padding-right: 0;
}

footer .footer-navigation-first a {
    color: #fff;
}

footer .footer-navigation-second a {
    color: #ffd180;
}

footer .footer-navigation-first a:hover,
footer .footer-navigation-second a:hover {
    text-decoration: underline;
}

footer .footer-navigation-first a:active,
footer .footer-navigation-second a:active,
footer .footer-navigation-first a:focus,
footer .footer-navigation-second a:focus {
    opacity: 0.5;
}

footer .footer-bottom {
    margin-top: 49px;
    padding-top: 38px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 18px;
    background-color: #293449;
}

footer .footer-bottom .container {
    display: flex;
}

footer .footer-bottom p,
footer .footer-bottom ul {
    margin: 0;
    padding: 0;
}

.footer-bottom .copy {
    margin-right: 160px;
    width: 230px;
}

footer .footer-social a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 3px;
    width: 42px;
    height: 42px;
    background-color: #212a3a;
    border-radius: 50%;
}

footer .footer-social img {
    height: 42px;
}

footer .footer-social a:hover,
footer .footer-social a:active,
footer .footer-social a:focus {
    background-color: #ee3643;
}

.footer-bottom .footer-callback {
    display: inline-block;
    margin-left: auto;
    width: 190px;
}

.footer-bottom .footer-copyright {
    display: inline-block;
    width: 110px;
}

footer .footer-bottom a {
    color: #ffd180;
}

footer .footer-bottom a:hover {
    text-decoration: underline;
}

footer .footer-bottom a:active,
footer .footer-bottom a:focus {
    text-decoration: none;
    color: #ee3643;
}

.modal-close {
    position: absolute;
    width: 26px;
    height: 26px;
    top: 6px;
    right: 7px;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.modal-close::before,
.modal-close::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 0;
    width: 26px;
    height: 3px;
    background-color: #ee3643;
}

.modal-close::before {
    transform: rotate(45deg);
}

.modal-close::after {
    transform: rotate(-45deg);
}

.modal-write-us {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -310px;
    padding-top: 45px;
    width: 620px;
    border-top: 7px solid #ee3643;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    z-index: 102;
}

.modal-write-us .input-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 80px;
}

.modal-write-us .half-width {
    display: inline-block;
    width: 220px;
    height: 38px;
}

.modal-write-us .textarea {
    margin-top: 48px;
    width: 100%;
}

.modal-write-us label {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;
    line-height: 18px;
}

.modal-write-us input[type = 'text'],
.modal-write-us input[type = 'email'],
.modal-write-us textarea {
    margin-top: 5px;
    padding-left: 14px;
    width: 100%;
    font-size: 13px;
    line-height: 18px;
    border: 1px solid #dee3e4;
    border-radius: 3px;
}

.modal-write-us input[type = 'text'],
.modal-write-us input[type = 'email'] {
    height: 37px;
}

.modal-write-us textarea {
    padding-top: 9px;
    height: 113px;
    resize: none;
}

.modal-write-us .button-submit {
    margin-top: 32px;
    padding: 36px 80px;
    background-color: #f4f4f4;
}

.modal-write-us input[type = 'submit'] {
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
}

.modal-map {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-left: -470px;
    z-index: 101;
}

.modal-map img {
    background-color: rgb(86, 86, 86);
    box-shadow: 0px 0px 14.72px 1.28px rgba(47, 42, 43, 0.5);
}

.modal-cart {
    position: absolute;
    top: -77px;
    left: 50%;
    margin-left: -310px;
    padding-top: 48px;
    width: 620px;
    border-top: 7px solid #ee3643;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
}
.modal-cart {
    position: absolute;
    top: 30%;
    left: 50%;
    margin-left: -310px;
    padding-top: 35px;
    width: 620px;
    border-top: 7px solid #ee3643;
    background-color: #fff;
    box-shadow: 0px 20px 40px 0 rgba(0, 0, 0, 0.75);
    z-index: 100;
}

.modal-cart p {
    margin-left: 180px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    line-height: 30px;
}

.modal-cart p::before {
    content: '';
    position: absolute;
    top: 47px;
    left: 81px;
    width: 66px;
    height: 66px;
    background-image: url('../img/form-1.svg');
    background-repeat: no-repeat;
    background-position: 0 0;
}

.modal-cart > div {
    display: flex;
    justify-content: space-between;
    margin-top: 68px;
    padding: 37px 80px;
    background-color: #f4f4f4;
}

.modal-cart-order {
    display: inline-block;
    margin: 0;
    padding: 10px 61px;
}

.modal-cart-continue {
    display: inline-block;
    margin: 0;
    padding: 10px 46px;
    color: #000;
    background-color: #fff;

}

.modal-cart-continue:hover,
.modal-cart-continue:active,
.modal-cart-continue:focus {
    color: #fff;
}
