body {
    padding: 0;
    font-family: 'PT Sans', Arial, sans-serif;
    font-size: 13px;
    font-weight: 400;
    line-height: 24px;
    color: #000;
    background-color: #fff;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
}

.container {
    width: 940px;
    margin: 0 auto;
}

.visually-hidden {
    display: none;
}

/*  ----------------------  header  ----------------------  */
.main-header {    
    padding-bottom: 65px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 17px;
    background-color: #f4f7f9;
}

/*  --  header-top  --  */
.header-top {
    background-color: #293449;
}

.header-top .container {
    display: flex;
}

.header-top a.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 42px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

.header-top a.logo:hover {    
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

.header-top a.logo:active,
.header-top a.logo:focus {    
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

.header-top input {
    border: none;
    color: #fff;
    background-color: transparent;
}

.header-top a,
.header-top input[type = 'search'] {
    margin: 0;
    padding: 0;
    width: 248px;
    height: 42px;
    line-height: 18px;
    color: #fff;
} 

.header-top input[type = 'search']::placeholder {
    color: #fff;
} 

.header-top .search input[type = 'search']:active,
.header-top .search input[type = 'search']:focus {
    color: #000;
    background-color: #fff;
}

.header-top .bookmark a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 42px;
} 

.header-top .cart a {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    height: 42px;
    width: 150px;
}

.header-top .something-in.cart a {
    background-color: #ee3643;
} 

.header-top .search input:hover,
.header-top .bookmark a:hover, 
.header-top .cart a:hover {
    background-color: #212a3a;
}

.header-top .bookmark a:active, 
.header-top .cart a:active,
.header-top .bookmark a:focus, 
.header-top .cart a:focus {
    background-color: #161d29;
    opacity: 0.6;
}

.header-top a.order {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 150px;
    height: 42px;
    background-color: #63a63e;
} 

.header-top a.order:hover {
    background-color: #5fbb2d;
} 

.header-top a.order:active,
.header-top a.order:focus {
    background-color: #518534;
    opacity: 0.5;
}

/*  -- header-middle  --  */
.header-middle {    
    display: flex;
    margin-top: 46px;    
    margin-bottom: 39px;
}
.header-middle .header-middle-description {   
    margin: 3px 72px 0 52px;    
    font-size: 16px;
    font-style: italic;    
    line-height: 23px;
    color: #ee3643;
}

.header-middle .header-middle-contacts {   
    margin-right: auto;
}

.header-middle .contacts-phone {  
    padding: 7px 47px;
    width: 170px;
    border: 3px solid #fff;
}

.header-middle .contacts-phone a {    
    font-size: 21px;    
    line-height: 21px;
    color: #ee3643;
}

.header-middle .contacts-adress {  
    margin-top: 3px;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    color: #32425c;
}

.header-middle .contacts-adress p {    
    margin: 0;
    padding: 0;
}

.user-navigation { 
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none; 
}

.user-navigation li {
    margin-top: 12px;
}

.user-navigation li.registration {
    margin-left: 9px;
}

.user-navigation a { 
    padding: 12px 25px;
    font-size: 21px;    
    line-height: 21px;
    color: #000;
    background-color: #fff;
}

.user-information {
    margin: 10px 18px 0;
}

.user-information a {
    font-size: 16px;
    line-height: 18px;
    text-decoration: underline;
    color: #32425c;
}

.user-information a:last-child{
    margin-left: 18px;
}

.user-navigation a:hover,
.user-information a:hover {    
    color: #ee3643;
}

.user-navigation a:active,
.user-information a:active,
.user-navigation a:focus,
.user-information a:focus {
    color: #000;
    opacity: 0.3;
}

/*  -- header-bottom-navigation  --  */
.header-bottom-navigation {
    background-color: #32425c;
    box-shadow: 0 5px 0 0 #293449;
}

.header-bottom-navigation ul { 
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0 18px;
    list-style: none; 
}

.header-bottom-navigation a {   
    display: block;
    padding: 19px 31px;
    line-height: 17px;
    color: #fff;
}

.header-bottom-navigation li:hover {
    background-color: #293449;
}

.header-bottom-navigation li:active {
    background-color: #1d2739;
}

.header-bottom-navigation li a:active,
.header-bottom-navigation li a:focus {
    opacity: 0.5;
}


/*  ----------------------  main  ----------------------  */

.navigation-block {
    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
}

.navigation-block a {
    font-size: 14px;
    line-height: 18px;    
    color: inherit;
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.1);    
}

.navigation-block a:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.navigation-block a:active,
.navigation-block a:focus {
    background-color: rgba(0, 0, 0, 0.3);
}

.sliders a.button {
    background-color: rgba(238, 54, 67, 1);
}

.sliders a.button:hover {
    background-color: rgba(202, 44, 55, 1);
}

.sliders a.button:active,
.sliders a.button:focus {
    background-color: rgba(186, 39, 50, 1);
}

.sliders .sliders_item h2 {
    font-size: 36px;
    line-height: 36px;
    text-transform: uppercase;
}

.sliders span {
    font-size: 18px;
    line-height: 24px;
}

.slider-indicators input[type = 'radio'] {
}

.slider-control button {
/*    background-color: transparent*/
    border: none;
}

.navigation-block .new {
    background-color: #f00;
}

.navigation-block h2 {
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
}

.category-materials {
    background-color: #ffbf47;    
}

.category-tools {
    background-color: #3bbce3;  
    
}

.category-technic {
    background-color: #dc91d8;  
    
}

.category-discount {
    background-color: #8ed78f;  
    
}

.page-delivery {
    background-color: #ffbf47;  
    
}

.top-sale-title,
.top-brand-title {
    background-color: #f9f5f0;
}

.page-title h1,
.top-sale-title h2,
.top-brand h2 {
    font-family: 'Cuprum', Arial, sans-serif; 
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    color: #32425c;
    text-transform: uppercase;
}

.top-brand ul {
    list-style: none;
}

.top-brand .top-brand-item:hover {
    box-shadow: 10px 0 25px rgba(41, 52, 73, 0.5);
}

.top-brand .top-brand-item:active {
    box-shadow: 4px 0 10px rgba(41, 52, 73, 0.5);
}

.top-brand .top-brand-item:active a {
    opacity: 0.3;
}

.company-services {
    background-color: #f4f8f9;
}

.company-services h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.company-services h3 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 36px;
    color: #32425c;
    text-transform: uppercase;
}

.company-services .tabs button {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 21px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    background-color: #32425c;
    border: none;
    cursor: pointer;
}

.company-services .tabs button:hover {
    background-color: #293449;
}

.company-services .tabs button.current {
    color: #32425c;
    background-color: #fff;
}

.breadcrumbs {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    height: 59px;
    list-style: none;
}

.breadcrumbs li:not(:first-of-type) img {
    margin-left: 15px;
    margin-right: 15px;
}

.breadcrumbs a,
.breadcrumbs-current span {
    line-height: 18px;
    color: #000;
    text-transform: uppercase;
}

.page-title {
    margin-bottom: 18px;
    padding: 30px 28px;
    background-color: #f2f6f8;    
}

.page-title h1 {
    margin: 0;
    padding: 0;
}

.page-inner form {
    margin-top: 10px;
}

form .price_range {
    display: flex;
    margin-top: 14px;
    margin-bottom: 9px;
    padding: 30px 20px 18px;
    background-color: #f7f3ec;
}

.page-inner .container-left {
    margin: 0;
    padding: 0;
    margin-right: 20px;
    width: 220px;
}

.filters > div:first-child {
    background-color: #f7f3ec;
}

.filters h4 {
    margin: 0;
    padding: 11px 18px;
    font-weight: 400;
    line-height: 18px;
    text-transform: uppercase;
}

.filters form > label,
.filters legend {
    font-size: 17px;
    font-weight: 700;
    line-height: 30px;
    text-transform: uppercase;
}

.filters legend {
    display: block;
    border-top: 1px solid #e5e5e5;
    margin-top: 24px;
    padding-top: 16px;
}

.filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 15px;
    line-height: 20px;
    text-transform: uppercase;
}

.filters ul li {
    padding-top: 11px;
}

.price_value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    line-height: 18px;
    color: #444;
}

.price_value input {
    width: 95px;
    height: 38px;
    font-size: 17px;
    line-height: 18px;
    text-align: center;
    background-color: #f7f3ec;
    border: none;
}

.filters input[type = 'submit'] {
    margin-top: 70px;
    width: 140px;
    height: 38px;
    line-height: 18px;
    text-transform: uppercase;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.container-right .filters {
    display: flex;
    margin-bottom: 20px;
    background-color: #f7f3ec;
}

.container-right {
    margin: 0;
    padding: 0;
    width: 700px;
}

.catalog-sort {
    display: flex;
    justify-content: space-between;
}

.catalog-sort a {
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #ee3643;
}

.catalog-sort button {
    opacity: 0.3;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.catalog-sort a:hover {
    color: rgba(0, 0, 0, 1);
    border-bottom: 1px solid #ee3643;
}

.catalog-sort button:hover {
/*    fill: #ee3643;*/
    opacity: 1;
}

.catalog-sort li.current a {
    color: rgba(255, 0, 0, 1);
    border-bottom: none;
}

.catalog-sort li.current button {
    opacity: 1;
}

.catalog-list {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
}



.catalog-item h3,
.catalog-item p { 
    margin: 0;
    padding: 0;
}

.catalog-item {
    margin-right: 20px;
    margin-bottom: 20px;
    width: 218px;
    height: 318px;
    text-align: center;
    background-color: #fff;
    border: 1px solid #e5e5e5; 
}

.catalog-item:nth-child(3n) {
    margin-right: 0;
}

.catalog-item:hover {
    border: 1px solid #fff;
    box-shadow: 10px 0 25px rgba(41, 52, 73, 0.5);
    cursor: pointer;
}

.catalog-item-new {
    color: #fff;
    background-color: #ee3643;
}

.catalog-item .action a {
    font-family:     'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}
.catalog-item .action a:first-child {
    color: #fff;
    background-color: #63a63e;
    border-top: 3px solid #63a63e;
    border-bottom: 3px solid #367315;
}

.catalog-item .action a:first-child:hover {
    background-color: #5fbb2d;
    border-top: 3px solid #5fbb2d;
}

.catalog-item .action a:first-child:active,
.catalog-item .action a:first-child:focus {
    background-color: #518534;
    border-top: 3px solid #518534;
    border-bottom: 3px solid #518534;
}

.catalog-item .action a:last-child {
    color: #32425c;
    background-color: #fff;
    border: 3px solid #63a63e;
}

.catalog-item .action a:last-child:hover {
    border: 3px solid #32425c;
}

.catalog-item .action a:last-child:active,
.catalog-item .action a:last-child:focus {
    opacity: 0.3;
}

.catalog-item h3 a {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    color: #000;
}

.catalog-item-price del,
.catalog-item-price a {
    font-size: 17px;
    font-weight: 700;
    line-height: 18px;
}
.catalog-item-price del {
    color: #999;
}

.catalog-item-price a {
    color: #fff;
    background-color: #ee3643;
}

.index-columns {
    display: flex;
    justify-content: space-between;
}

.index-columns .company-info,
.index-columns .company-contacts{
    margin-top: 54px;
    margin-bottom: 86px;
}

.index-columns .company-info p,
.index-columns .company-contacts p{
    margin: 0;
    padding: 0;
}

.index-columns .company-info {
    width: 640px;
}

.index-columns .company-contacts {
    width: 300px;
}

.index-columns .company-contacts  img{
    margin-top: 32px;
}

.company-info h2,
.company-contacts h2,
.catalog-description h2 {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
    line-height: 30px;
    text-transform: uppercase;
}

.company-transports {
    margin: 0 0 0 36px;
    padding: 0;
}

.company-transports li {
    margin-top: 21px;
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 18px;    
    line-height: 20px;
}

.company-info .button {
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 35px 0 0 0;
    padding: 0; 
    width: 220px;
    height: 38px;
}

.company-contacts button{
    margin-top: 32px;
    padding: 0;
    height: 38px;
    width: 100%;
    cursor: pointer;
}

.company-info .button,
.company-contacts button,
.top-sale-title .button,
.top-brand-title .button {
    font-family: 'Cuprum', Arial, sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #fff;
    background-color: #ee3643;
    border: none;
    text-transform: uppercase;
}

.company-info .button:hover,
.company-contacts button:hover,
.top-sale-title .button:hover,
.top-brand-title .button:hover {
    background-color: #ca2c37;
}

.company-info .button:active,
.company-contacts button:active,
.top-sale-title .button:active,
.top-brand-title .button:active,
.company-info .button:focus,
.company-contacts button:focus,
.top-sale-title .button:focus,
.top-brand-title .button:focus {
    background-color: #ba2732;
}

.catalog-description {
    padding: 65px 0 68px;
    background-color: #f2f6f8;
}

.catalog-description h2,
.catalog-description p {
    margin: 0;
    padding: 0;
}

.catalog-description h2{
    margin-bottom: 26px;
}

.pagination {
    display: flex;
    margin: 40px 0 66px;
    padding: 0;
    list-style: none;
}

.pagination li a {
    margin-right: 10px;
    padding: 10px 15px;
    line-height: 18px;
    text-transform: uppercase;
    color: #000;
    border: 1px solid #e5e5e5;
}

.pagination li a:hover {
    border: 1px solid #bdc6ca;
}

.pagination li a:active,
.pagination li a:focus {
    border: 1px solid #ee3643;
}

.pagination li a.current {
    color: #fff;
    background-color: #ee3643;
    border: 1px solid #ee3643;
}

/*  ----------------------  footer  ----------------------  */
footer {
    font-family: 'Cuprum', Arial, sans-serif;
    color: #fff;
    background-color: #32425c;
}

footer .footer-top {
    display: flex;
    font-size: 18px;
    line-height: 24px;
}

footer .footer-top > div {
    width: 330px;
}

footer .footer-top p {
    margin: 33px 0 0 3px; 
}

footer a.logo-footer{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 220px;
    height: 63px;
    background-color: #ee3643;
    box-shadow: 0 5px 0 0 #b52933;
}

footer a.logo-footer:hover {    
    background-color: #ca2c37;
    box-shadow: 0 5px 0 0 #9a212a;
}

footer a.logo-footer:active,
footer a.logo-footer:focus {    
    background-color: #ba2732;
    box-shadow: 0 5px 0 0 #8e1e26;
}

footer .footer-navigation-first a {
    color: #fff;
}

footer .footer-navigation {
    flex-grow: 1;
}

footer ul {
    display: flex;
    justify-content: flex-end;
    margin-top: 36px;
    padding: 0;
    list-style: none;
}

footer .footer-navigation-first a,
footer .footer-navigation-second a {
    padding: 20px 30px;
}

footer .footer-navigation-first li:last-child a,
footer .footer-navigation-second li:last-child a {
    padding-right: 0;
}

footer .footer-navigation-first a {
    color: #fff;
}

footer .footer-navigation-second a {
    color: #ffd180;
}

footer .footer-navigation-first a:hover,
footer .footer-navigation-second a:hover {
    text-decoration: underline;
}

footer .footer-navigation-first a:active,
footer .footer-navigation-second a:active,
footer .footer-navigation-first a:focus,
footer .footer-navigation-second a:focus {
    opacity: 0.5;
}

footer .footer-bottom {
    margin-top: 49px;
    padding-top: 38px;
    padding-bottom: 30px;
    font-size: 16px;    
    line-height: 18px;
    background-color: #293449;
}

footer .footer-bottom .container {
    display: flex;
}

footer .footer-bottom p,
footer .footer-bottom ul {
    margin: 0;
    padding: 0;
}

.footer-bottom .copy {
    margin-right: 160px;
    width: 230px;
}

footer .footer-social a {
    display: flex;
    justify-content: center;    
    width: 42px;
    height: 42px;
    background-color: #212a3a;
}

footer .footer-social a:hover,
footer .footer-social a:active,
footer .footer-social a:focus {
    background-color: #ee3643;
}

.footer-bottom .footer-callback {
    display: inline-block;
    margin-left: auto;
    width: 190px;
}

.footer-bottom .footer-copyright {
    display: inline-block;
    width: 110px;
}

footer .footer-bottom a {
    color: #ffd180;
}

footer .footer-bottom a:hover {
    text-decoration: underline;
}

footer .footer-bottom a:active,
footer .footer-bottom a:focus {
    text-decoration: none;
    color: #ee3643;
}
